* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: #DCDCDC;
	display: grid;
	justify-items: center;
	align-items: center;
}

wow-gear {
	display: grid;
	position: relative;
	width: 700px;
	grid-template-rows: auto 80px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	.class-icon {
		position: absolute;
		left: -30px;
    top: -25px;
		overflow: hidden;
		border-radius: 100%;
		border: 3px solid #73716b;
		height: 135px;
		img {
			height: 100%;
		}
	}
	main {
		display: grid;
		grid-template-rows: 45px 75px 690px 50px;
		border-radius: 10px;
		border: 3px solid #73716b;
		overflow: hidden;
	}
	.splinter {
		background-color: #29221e;
		display: grid;
		grid-template-columns: 45px auto 45px;
		h1 {
			text-align: center;
			color: white;
			font-size: 20px;
			border-bottom: 2px solid #73716b;
			line-height: 40px;
			font-weight: 100;
		}
		button {
			background: #6a0706;
			cursor: pointer;
			color: #d5af06;
			font-size: 20px;
			font-weight: bold;
			overflow: hidden;
			border: none;
			border-bottom: 2px solid #73716b;
			border-left: 1px solid #73716b;
			border-radius: 5px 0px 5px 0px;
		}
	}
	.donatello {
		background-color: #29221e;
		display: grid;
    justify-content: center;
    align-content: center;
		p {
			font-size: 18px;
			.level {
				color: #c6ab46;
			}
			.class {
				color: #c48f58;
			}
		}
	}
	.raphael {
		display: grid;
		grid-template-columns: 90px auto 90px;
		padding: 5px;
		background-color: #29221e;
	}
	.michelangelo {
		display: grid;
		background-color: #29221e;
		justify-content: center;
		.gear-list-container {
			position: relative;
			width: 200px;
		}
		gear-list {
			position: absolute;
			top: -100%;
			width: 175px;
		}
	}
}

character-model {
	background-image: url('http://www.cedricat.cat/pics/b/35/357507_world-of-warcraft-wallpapers.jpg');
	background-blend-mode: darken;
	background-position: 50% 0%;
	background-size: cover;
	display: grid;
	justify-items: center;
	align-items: end;
	padding: 10px;
	margin: 0 5px;
	border: 5px solid #3c3c3c;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 7px 10px 6px 3px #1a1a1a7a inset;
	img {
		max-width: 75%;
		max-height: 75%;
	}
}

gear-list {
	display: grid;
	background-color: #323232;
	padding: 5px;
	border-radius: 10px;
	justify-content: center;
	gap: 4px;
	&.vertical {
		grid-template-rows: repeat(auto-fill, 80px);
	}
	&.horizontal {
		grid-template-columns: repeat(auto-fill, 80px);
	}
}

gear-slot {
	border: 2px solid purple;
	border-radius: 10px;
	display: grid;
	overflow: hidden;
	height: 80px;
	width: 80px;
	img {
		width: 100%;
	}
}